# NOTEBOOK 5: COUNTERFACTUALS

In [1]:
# IMPORTING STATEMENTS
import sys
import tensorflow.keras
import pandas as pd
import sklearn as sk
import tensorflow as tf
import platform
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats


np.random.seed(7)


print(f"Python Platform: {platform.platform()}")
print(f"Tensor Flow Version: {tf.__version__}")
print(f"Keras Version: {tensorflow.keras.__version__}")
print()
print(f"Python {sys.version}")
print(f"Pandas {pd.__version__}")
print(f"Scikit-Learn {sk.__version__}")
gpu = len(tf.config.list_physical_devices('GPU'))>0
print("GPU is", "available" if gpu else "NOT AVAILABLE")

Python Platform: macOS-13.2.1-arm64-arm-64bit
Tensor Flow Version: 2.12.0
Keras Version: 2.12.0

Python 3.10.10 | packaged by conda-forge | (main, Mar 24 2023, 20:12:31) [Clang 14.0.6 ]
Pandas 2.1.1
Scikit-Learn 1.3.1
GPU is available

# Import Data

In [2]:
# Import true test data
data_test = pd.read_csv('../../0_data/test.csv', index_col=0).reset_index(drop=True)

In [3]:
# select random sample from test data
counterf = data_test.sample(n=1500, replace=False, random_state=7, axis=None, ignore_index=False) 
counterf.describe()

,InterestRate,MinorityRatio,CensusTractMedFamIncome,MonthlyIncome,HUDMedIncome,LTV,PaymentCount,Age1,Age2,HousingExpense,...,State_31,State_39,State_42,State_48,State_55,State_infrequent_sklearn,Minority_Min,Minority_Missing,Minority_White,Borrower2Dummy
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.00000,...,1500.000000,1500.000000,1500.000000,1500.00000,1500.000000,1500.000000,1500.000000,1500.00000,1500.000000,1500.000000
mean,3.377633,14.891109,86132.164000,9677.845333,78591.933333,78.713607,318.826000,44.787333,26.746667,19.30842,...,0.046667,0.079333,0.040667,0.03800,0.128000,0.206000,0.044667,0.06800,0.887333,0.610000
std,0.648246,15.262414,28706.539586,5715.419706,12817.317348,7.859689,71.551852,13.099128,23.686998,7.91061,...,0.210994,0.270348,0.197583,0.19126,0.334201,0.404565,0.206640,0.25183,0.316290,0.487913
min,1.875000,0.000000,0.000000,1173.000000,50100.000000,72.000000,120.000000,20.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,2.875000,4.440000,65864.250000,5685.000000,69700.000000,72.000000,240.000000,34.000000,0.000000,13.80500,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
50%,3.250000,8.914000,80026.500000,8386.500000,77800.000000,78.000000,360.000000,43.000000,32.000000,18.05000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,1.000000,1.000000
75%,3.750000,19.408250,100850.500000,12140.750000,85200.000000,80.000000,360.000000,54.000000,45.000000,23.87250,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5.500000,62.440000,204750.000000,30507.000000,127900.000000,104.000000,360.000000,87.000000,84.000000,49.94000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [8]:
# create counterfactual cases

#counterf.drop(['Minority_Min', 'Minority_Missing', 'Minority_White'], axis=1, inplace=True)
counterf1, counterf2, counterf3 = counterf.copy(deep=True), counterf.copy(deep=True), counterf.copy(deep=True)

counterf1['Gender1_1'], counterf2['Gender1_1'], counterf3['Gender1_1'] = 1, 0, 0
counterf1['Gender1_2'], counterf2['Gender1_2'], counterf3['Gender1_2'] = 0, 1, 0
counterf1['Gender1_3'], counterf2['Gender1_3'], counterf3['Gender1_3'] = 0, 0, 1
#y_true = data_test.pop('InterestRate')

In [9]:
# DF FINALE 
counterf = pd.concat([counterf1, counterf2, counterf3])
counterf.to_csv('TEST_DATA_gender.csv')